<html>
	<head>
		<meta charset="utf-8" />
		<!-- 引入bootstrap样式 -->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<!-- 引入bootstrap-table样式 -->
		<link href="../static/css/bootstrap-table.min.css" rel="stylesheet">

		<!-- jquery -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>

		<!-- bootstrap-table.min.js -->
		<script src="../static/js/bootstrap-table.min.js"></script>
		<!-- echarts -->
		<script src="../static/js/echarts.min.js"></script>
		<!-- 引入中文语言包 -->
		<script src="../static/js/bootstrap-table-zh-CN.min.js"></script>

		<script src="../static/js/blocktable.js"></script>
	</head>
	<body id="content">
		<div class="bootstrap-body">
	        <div class="row">
	            <div id="stockstar_tables" class="col-md-3">
	            	<div id="stockstar_blocktable">
	            	</div>
	            	<div id="stockstar_stocktable"></div>
	            </div>
	            <div id="stockstar_chart" class="col-md-9">
	            	
	            </div>
	        </div>
	    </div>
	</body>
</html>